/* CONFIGURAÇÕES BÁSICAS */

/* Zerando os espaçamentos para ter maior dominio sobre os elementos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #FFF;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/****************** HERO HEADER *****************/

header{
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url(img/img-hero-header.jpg);
    background-size: cover;
    background-position: right;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.slogan{
    align-self: center;
    margin-top: 10%;
}

h1{
    color: #FFF;
    font-size: 180%;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1;
    font-weight: 300;

}

.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #E67E22;
    border-radius: 200px;
    padding: 10px 30px;
    transition: 0.2s;
}

.btn-full{
    background-color: #E67E22;
    margin-right: 20px;
}

.btn:hover,
.btn:active{
    background-color: #CF6D17;
    border-color: #CF6D17;
}


/**************** MENU HERO HEADER***************/

.logo{
    height: 100px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 10px;
    padding-left: 30px;

}

header nav ul{
    display: flex;
    width: 650px;
    justify-content: space-around;
    list-style-type: none;
    
}

header ul li a:link,
header ul li a:visited{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    border-bottom: 2px solid transparent;
    transition: 0.3;
}

header ul li a:hover{
    border-bottom: 2px solid #E67E22;
    
}



/******************* SEÇÃO INFORMAÇÃO ********/

.section-information{
    padding: 80px 0;
}

h2{
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}

h2::after{
    content: " ";
    height: 2px;
    width: 100px;
    background-color: #E67E22;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.info-top p{
    width: 70%;
    margin: 0 auto;
    line-height: 145%;
}